{% extends 'base.html '%}
{% load static %}
{% block content %}
<html>
<body>
<div class="wrapper row3">
    <main class="hoc container clear">
  
      <!-- main body -->
      <!-- ################################################################################################ -->
      <section id="introblocks">
        <ul class="nospace group">
          {% for i in pdt %}
          <li class="one_third"><br><br><br><br>
            <figure><a class="imgover" href="{{i.get_url}}"><img src="{{i.img.url}}" alt="" style="height: 100;width: 400;"></a>
              <figcaption>
                <h6 class="heading">{{i.name}}</h6>
                <p>{{i.desc|truncatewords:12}}</p><br>
                <p>{{i.price}}$</p><br>
                <p>{{i.stock}}</p>
              </figcaption>
            </figure>
          </li>
          {% endfor %}
        </ul>
      </section>
      <!-- ################################################################################################ -->
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
    <footer id="footer" class="hoc clear">
      <!-- ################################################################################################ -->
      <div class="center btmspace-50">
        <h6 class="heading">BEE 42</h6>
        <ul class="faico clear">
  
          <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
        </ul>
        <p class="nospace">send your massages</p>
      </div>
      <!-- ################################################################################################ -->
      <hr class="btmspace-50">
      <!-- ################################################################################################ -->
  
  
      <!-- ################################################################################################ -->
    </footer>
  </div>
  
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="{% static 'login_page/layout/scripts/jquery.min.js' %}"></script>
  <script src="{% static 'login_page/layout/scripts/jquery.backtotop.js' %}"></script>
  <script src="{% static 'login_page/layout/scripts/jquery.mobilemenu.js' %}"></script>
  </body>
  </html>
  {% endblock %}